.is-a-test {
    background-color: pink;
}

input {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: black;
}

.closing{
    padding-bottom: 1em;
}